# Backend FastAPI - Dépendances
fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart
email-validator

# Database
sqlalchemy
psycopg2-binary
alembic

# Security
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
python-jose[cryptography]
pyjwt
bleach

# Email
aiosmtplib

# Utilities
python-dotenv

# AI & ML
mistralai
craft-ai-sdk

# HTTP Client
httpx
